$primary-white: #DBE9B7;
$primary-green: #565D47;
$secondary-green: #878776;

$typeography-primary: #fff;
$typeography-secondary: #8C7676;

$accent-green: #DBE9B7;

$gradient-black: linear-gradient(#000000CC, 40%, #00000066);
$gradient-green: linear-gradient(to right, $secondary-green, 40%, #565648);