@use '../placeholders/root.scss';


.embla {
    overflow: hidden;
    position: relative;
    max-width: 100%;

    &__btn {
        background: none;
        border: none;
        font-size: 2rem;
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 2rem;
        transform: translateX(-50%);

        &:last-of-type {
            right: 0;
            left: auto;
        }
    }

    &__container {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    &__slide {
        width: 80%;
        transition: transform 0.3s ease, scale 0.3s ease;
        max-height: 350px;
        height: auto;
    }
}

.gallery-container {
    margin-top: 3rem;
    display: block;
    -moz-columns: 2;
    columns: 2;
    padding: 1rem;
    margin-block: 1rem;
    gap: 1rem;

    &__image {
        max-width: 100%;

        &-container {
            width: 100%;
            margin-bottom: 1rem;
        }
    }
}

@media screen and (min-width: 800px) {
    .gallery-container {
        margin-top: 4rem;
        display: block;
        -moz-columns: 5;
        columns: 5;
    }
}